/* common styles */
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.carousel-indicators {
  display: none;
}
/* safety section styles here */
.safety-card:hover{
  background: rgb(255,113,125);
  background: linear-gradient(180deg, rgba(255,113,125,1) 35%, rgba(232,13,13,1) 100%);
}
.safety-card:hover .card-body h5{
  color:white;
}

/* footer section menu items styles here */
.footer-menu .menu-item:hover{
  color: red !important;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
